[Desktop Entry]
Version=1.0
Type=Application
Name=ZK Bridge
Comment=ZKTeco ERP Bridge Server
Exec=bash -c "cd /home/estiaque/Downloads/zk-laravel-bridge/zk-bridge && ./start.sh"
Icon=/home/estiaque/Downloads/zk-laravel-bridge/zk-bridge/public/favicon.ico
Terminal=false
Categories=Utility;
StartupNotify=true
